* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DM Sans';
    src: url('assets/fonts/DMSans.ttf') format('truetype');
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 670px;
}
    
.div1 {
    border-radius: 5px;
    grid-row: span 5 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
    width: 180px;
}

.div3 {
    border: 2px solid black;
    border-radius: 5px;
    grid-column: span 4 / span 4;
}

.div4 {
    border: 2px solid black;
    border-radius: 5px;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    border: 2px solid black;
    border-radius: 5px;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
}

.foto-profil {
    font-family: 'DM Sans';
    background-color: lightcoral;
    padding: 5px;
    display: block;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.foto-profil img {
    width: 70px; 
    height: 70px;
    object-fit: cover;
    border-radius: 20%;
}