body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 300%;
    color: brown;
    text-align: center;
}

h2 {
    color: chocolate;
}

th {
    background-color: bisque;
    border: 3px solid chocolate;
    padding: 10px 12px;
}

td {
    border: 3px solid chocolate;
    padding: 10px 12px;
}

label {
    display: block;
    font-size: 16px;
    color: brown;
    margin-bottom: 12px;
    margin-top: 12px;
}

button {
    margin-bottom: 12px;
    margin-top: 12px;
}

#daftar-makanan {
    color: brown;
}

#daftar-minuman {
    color: brown;
}

#video-warkop-senja {
    max-width: 700px;
    padding: 10px;
    border: 3px solid chocolate;
    border-radius: 6px;
}

#form {
    width: fit-content;
    padding: 10px 12px;
    border: 3px solid chocolate;
    border-radius: 6px;
}

#copyright {
    text-align: center;
}

.form-input {
    width: 100%;
    padding: 10px 12px;
}

.navbar {
    width: 100%;
    padding: 7px 12px;
    color: brown;
    font-weight: bold;
    font-size: 130%;
}

.table {
    width: 800px;
    border-collapse: collapse;
    border: 3px solid chocolate;
}