body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 300%;
    color: brown;
    text-align: center;
}

h2 {
    color: chocolate;
}

th {
    background-color: bisque;
    border: 3px solid chocolate;
    padding: 10px 12px;
}

td {
    border: 3px solid chocolate;
    padding: 10px 12px;
}

label {
    display: block;
    color: brown;
    margin-bottom: 12px;
    margin-top: 12px;
}

button {
    margin-bottom: 12px;
    margin-top: 12px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

main {
    max-width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 244, 222);
    padding: 20px;
    border: 2px solid chocolate;
    border-radius: 10px;
}

input[type="text"], 
input[type="number"], 
input[type="date"],
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid chocolate;
    border-radius: 5px;
    font-size: 16px;
    background-color: beige;
}

textarea {
    height: 100px;
    resize: vertical; 
}

#deskripsi {
    font-size: 18px;
}

#daftar-makanan {
    color: brown;
    text-align: center;
    font-size: 24px;
}

#daftar-minuman {
    color: brown;
    text-align: center;
    font-size: 24px;
}

#video-warkop-senja {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid chocolate;
    border-radius: 5px;
}

#form {
    max-width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 16px;
    border: 2px solid chocolate;
    background-color: rgb(255, 244, 222);
    border-radius: 5px;
}

#copyright {
    text-align: center;
}

.form-input {
    width: 100%;
    text-align: center;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 800;
    color: chocolate;
}

.form-input label {
    font-size: 18px;
    font-weight: bold;
}

.form-input button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid chocolate;
    border-radius: 5px;
    font-size: 16px;
    background-color: chocolate;
    color: beige;
    font-weight: bold;
}

.navbar {
    padding: 7px 12px;
    color: brown;
    font-weight: bold;
    font-size: 130%;
    border: 3px solid chocolate;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid chocolate;
    margin: auto;
}