@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 80%), 
                      url("../../assets/images/BMW\ M8\ GTE\ \'19\ \(3\).jpg");
    background-size: 100% auto;
    background-position: center 24%;
    background-repeat: no-repeat;
    background-color: #eef1f4;
    background-attachment: fixed;
    height: 100vh;
}

.bmw-m8-spesification {
    color: white;
    font-family: 'Russo One';
    font-size: 37px;
    font-weight: lighter;
    letter-spacing: 3px;
    position: absolute;
    bottom: 200px;
    left: 27%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: fit-content;
}

.bmw-m8-spec-full {
    border: 3px solid white;
    border-radius: 8px;
    color: white;
    font-family: 'Oswald';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    position: absolute;
    bottom: 200px;
    left: 79%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    width: fit-content;
    transition: transform 0.3s;
    cursor: pointer;
}

.bmw-m8-spec-full:hover {
    transform: scale(1.1);
}

.bmw-m8-spec-logo {
    position: absolute;
    top: 480px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 14%;
    align-items: center;
}

.bmw-m8-spec-logo img {
    width: 5%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.bmw-m8-spec-name {
    color: white;
    font-family: 'Russo One';
    text-transform: uppercase;
    font-size: 17px;
    position: absolute;
    top: 575px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
}

.bmw-m8-spec-name h2 {
    width: 20%;
    text-align: center;
    margin: 0;
}

.bmw-m8-spec-name-detail {
    color: white;
    font-family: 'Oswald';
    font-size: 17px;
    position: absolute;
    top: 610px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
}

.bmw-m8-spec-name-detail h2 {
    width: 20%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

.arrow-back-bmw-m8-spec {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 20px;
    border: 3px solid #BB271A;
    border-radius: 50%;
}