@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0e0e0e; 
    background-image: 
        linear-gradient(to right, rgba(14,14,14,0) 50%, #0e0e0e 100%),
        url("../../assets/images/BMW M8 GTE '19 (2).jpg");
    background-size: 85% auto; 
    background-position: left 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bmw-logo {
    position: absolute;
    top: 25px;
    right: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: fit-content;
    background: transparent;
}

.bmw-logo img {
    width: 350px;
    height: auto;
    object-fit: contain;
}

.bmw-m8-title {
    color: white;
    font-family: 'Russo One';
    font-size: 37px;
    text-decoration: underline;
    letter-spacing: 2px;
    position: absolute;
    top: 170px;
    right: 7.5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: fit-content;
}

.bmw-m8-profile {
    color: white;
    font-family: 'Oswald';
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    bottom: 90px;
    right: 4%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: 25%;
}

.bmw-m8-text-spec {
    border: 5px solid white;
    border-radius: 8px;
    color: white;
    font-family: 'Russo One';
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 10%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.bmw-m8-text-spec:hover {
    transform: scale(1.1);
}

.arrow-back-bmw-m8-profile {
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 20px;
    border: 3px solid #BB271A;
    border-radius: 50%;
}