@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 100%), 
                      url("../../assets/images/BMW\ M8\ GTE\ \'19\ \(7\).jpg");
    background-size: 100% auto;
    background-position: center 113%;
    background-repeat: no-repeat;
    background-color: #eef1f4;
    background-attachment: fixed;
    height: 100vh;
}

.bmw-logo-full-spec {
    position: absolute;
    top: 10px;
    right: 1%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: fit-content;
    background: transparent;
}

.bmw-logo-full-spec img {
    width: 280px;
    height: auto;
    filter: drop-shadow(0px 0px 5px #286cfb);
}

.bmw-m8-full-spec {
    color: white;
    font-family: 'Russo One';
    font-size: 37px;
    font-weight: lighter;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
    padding: 10px;
    width: fit-content;
}

.bmw-m8-detail-full-spec {
    color: white;
    font-family: 'Oswald';
    font-size: 23px;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    bottom: 3%;
    width: fit-content;
}

.bmw-m8-fun-facts {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: white;
    font-family: 'Oswald';
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    position: absolute;
    bottom: 7%;
    right: 3%;
    letter-spacing: 3px;
    padding: 10px;
    width: fit-content;
    transition: transform 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.bmw-m8-fun-facts:hover {
    transform: scale(1.1);
}

.arrow-back-bmw-m8-full-spec {
    width: 45px;
    height: 45px;
    margin-top: 30px;
    margin-left: 30px;
}