@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Russo One';
    src: url('../../assets/fonts/RussoOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 40%), 
                      url("../../assets/images/BMW\ M8\ GTE\ \'19\ \(1\).jpg");
    background-size: 100% auto;
    background-position: center 24%;
    background-repeat: no-repeat;
    background-color: #eef1f4;
    background-attachment: fixed;
    height: 100vh;
}

body img {
    width: 110px;
    height: 110px;
    margin-left: 20px;
}

.discover-bmw-m8 {
    position: absolute;
    bottom: 60px;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: ease, transform 0.3s;
}

.discover-bmw-m8:hover {
  transform: scale(1.1);
}

.discover-bmw-text {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Oswald';
    color: white;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
}

.bmw-m8-container-screen {
    position: absolute;
    bottom: 10px;
    left: 13%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1px;
    width: 100%;
}

.bmw-m8-gte-button-screen {
    border: 3px solid white;
    border-radius: 8px;
    background: transparent;
    font-family: 'Russo One';
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
}

.arrow-back-bmw-m8 {
    width: 45px;
    height: 45px;
    margin-top: 30px;
    margin-left: 30px;
}