body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    gap: 20px
}

.judul {
    font-size: 40px;
}

#nama-pelanggan {
    border: 2px solid black;
    background-color: rgb(183, 183, 183);
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
}

#nama-mobil {
    border: 2px solid black;
    background-color: rgb(183, 183, 183);
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
}

#daftar-service {
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#daftar-service:hover {
    transform: scale(1.05);
}